In [16]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# for DL modeling
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader,TensorDataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# for number crunching
import numpy as np
import scipy.stats as stats

# for dataset management
import pandas as pd

# for data visualization
import matplotlib.pyplot as plt
import matplotlib_inline.backend_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')
import seaborn as sns

/kaggle/input/an-online-shop-business/Sales Transaction v.4a.csv

In [17]:
os.listdir('/kaggle/input/an-online-shop-business')

['Sales Transaction v.4a.csv']

In [18]:
data = pd.read_csv('/kaggle/input/an-online-shop-business/Sales Transaction v.4a.csv')

print(data.head(5))
print("")
print("*********************************************")
print("")
data.info()
print("")
print("*********************************************")
print("")
data.describe()

  TransactionNo       Date ProductNo                          ProductName  \
0        581482  12/9/2019     22485        Set Of 2 Wooden Market Crates
1        581475  12/9/2019     22596  Christmas Star Wish List Chalkboard
2        581475  12/9/2019     23235             Storage Tin Vintage Leaf
3        581475  12/9/2019     23272    Tree T-Light Holder Willie Winkie
4        581475  12/9/2019     23239    Set Of 4 Knick Knack Tins Poppies

   Price  Quantity  CustomerNo         Country
0  21.47        12     17490.0  United Kingdom
1  10.65        36     13069.0  United Kingdom
2  11.53        12     13069.0  United Kingdom
3  10.65        12     13069.0  United Kingdom
4  11.94         6     13069.0  United Kingdom

*********************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

*********************************************

               Price       Quantity     CustomerNo
count  536350.000000  536350.000000  536295.000000
mean       12.662182       9.919347   15227.893178
std         8.490450     216.662300    1716.582932
min         5.130000  -80995.000000   12004.000000
25%        10.990000       1.000000   13807.000000
50%        11.940000       3.000000   15152.000000
75%        14.090000      10.000000   16729.000000
max       660.620000   80995.000000   18287.000000

# Dropping the columns that wont be used